@page "/pelicula/{PeliculaID:int}"
@page "/pelicula/{PeliculaID:int}/{NombrePelicula}"

<h3>VisualizarPelicula</h3>

@code {
    [Parameter] public int PeliculaID { get; set; }
    [Parameter] public int NombrePelicula { get; set; }

    protected override void OnInitialized()
    {
        Console.WriteLine($"El ID de la pelicula es {PeliculaID}");
    }
}
